<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>

<body>

    <h1>Customer IDs</h1>

    <ul>
    <% customersIds.forEach(id => { %>
        <li><%= id %></li>
    <% }) %>
    </ul>

</body>

</html>